h3 {
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: grayLight;
  font-family: 'Condiment';
  
}

h6 {
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: grayLight;
  font-family: 'Arial';
  
}